script(src='#{site.dir.lib}jquery/dist/jquery.min.js')
script(src='#{site.dir.lib}fastclick/lib/fastclick.js')
script(src='#{site.dir.lib}foundation/js/foundation.min.js')
script $(document).foundation();

//- Allows you to pass an array of page specific scripts to load
if locals.js
	each script in js
		script(src='#{site.dir.js}#{script}')
